[Unit]
Description=channel-enemy-bot
After=network.target

[Service]
Type=simple
User=egor
WorkingDirectory=/home/egor/channel-enemy-bot
ExecStart=/home/egor/.bun/bin/bun bot.ts
Restart=always

[Install]
WantedBy=multi-user.target
